@model Webshop.Models.ArticleModel

@{
    ViewBag.Title = Model.Product.ProductName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
        <h2>@Model.Product.ProductName</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var category in Model.Categories)
            {
                var isactive = category.Id == Model.SelectedCategoryId;
                <li class="@(isactive ? "active" : String.Empty)">
                    @Html.ActionLink(category.CategoryName, "Articles", new { id = category.Id })
                </li>
            }
        </ul>
    </div>
    <div class="col-md-9">
        <div class="list-group">
            @{
                var canorder = Model.Product.UnitsInStock > 0;

                using (Html.BeginForm("AddToCard", "Cart", new { id = Model.Product.Id }))
                {
                    @Html.AntiForgeryToken()
                    <div class="list-group-item">
                        <span class="badge">Units in stock: @Model.Product.UnitsInStock</span>
                        <h3>@Model.Product.ProductName</h3>
                        <p>
                            @Model.Product.QuantityPerUnit<br />
                            <strong>@Model.Product.UnitPrice.ToString("C")</strong>
                        </p>
                        <p>
                            <img src="/Content/dummy.png" align="left" style="border:1px solid gray;margin-right:5px;" alt="" />
                            Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen. Erstens: wir haben nicht offensiv gespielt. Es gibt keine deutsche Mannschaft spielt offensiv und die Name offensiv wie Bayern. Letzte Spiel hatten wir in Platz drei Spitzen: Elber, Jancka und dann Zickler.
                        </p>
                        <p>Wir müssen nicht vergessen Zickler. Zickler ist eine Spitzen mehr, Mehmet eh mehr Basler. Ist klar diese Wörter, ist möglich verstehen, was ich hab gesagt? Danke. Offensiv, offensiv ist wie machen wir in Platz. Zweitens: ich habe erklärt mit diese zwei Spieler: nach Dortmund brauchen vielleicht Halbzeit Pause. Ich habe auch andere Mannschaften gesehen in Europa nach diese Mittwoch.</p>
                        <p>Ich habe gesehen auch zwei Tage die Training. Ein Trainer ist nicht ein Idiot! Ein Trainer sei sehen was passieren in Platz. In diese Spiel es waren zwei, drei diese Spieler waren schwach wie eine Flasche leer! Haben Sie gesehen Mittwoch, welche Mannschaft hat gespielt Mittwoch? Hat gespielt Mehmet oder gespielt Basler oder hat gespielt Trapattoni? Diese Spieler beklagen mehr als sie spielen!</p>
                        <div class="input-group input-group-sm" style="text-align: right;">
                            <span>quantity: </span>
                            <input type="text" name="quantity" class="form-control" style="width: 40px;" value="@(canorder?1:0)" @(!canorder ? "disabled=\"disabled\"" : String.Empty)>
                            <span class="input-group-btn">
                                <input type="submit" class="btn btn-primary" @(!canorder ? "disabled=\"disabled\"" : String.Empty) value="Add to Cart" />
                            </span>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
