@model Webshop.Models.ArticlesModel

@{
    ViewBag.Title = Model.Categories.First(x => x.Id == Model.SelectedCategoryId).CategoryName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
        <h2>@Model.Categories.First(x => x.Id == Model.SelectedCategoryId).CategoryName</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var category in Model.Categories)
            {
                var isactive = category.Id == Model.SelectedCategoryId;
                <li class="@(isactive ? "active" : String.Empty)">
                    @Html.ActionLink(category.CategoryName, "Articles", new { id = category.Id })
                </li>
            }
        </ul>
    </div>
    <div class="col-md-9">
        <div class="list-group">
            @foreach (var product in Model.Products)
            {
                var canorder = product.UnitsInStock > 0;

                using (Html.BeginForm("AddToCard", "Cart", new { id = product.Id }))
                {
                    @Html.AntiForgeryToken()
                    <div class="list-group-item">
                        <span class="badge">Units in stock: @product.UnitsInStock</span>
                        <h3>
                            @Html.ActionLink(product.ProductName, "Article", new { id = product.Id })
                        </h3>
                        <p>
                            @product.QuantityPerUnit<br />
                            @product.UnitPrice.ToString("C")
                        </p>
                        <div class="input-group input-group-sm" style="text-align: right;">
                            <span>quantity: </span>
                            <input type="text" name="quantity" class="form-control" style="width: 40px;" value="@(canorder?1:0)" @(!canorder ? "disabled=\"disabled\"" : String.Empty)>
                            <span class="input-group-btn">
                                <input type="submit" class="btn btn-primary" @(!canorder ? "disabled=\"disabled\"" : String.Empty) value="Add to Cart" />
                            </span>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="btn-group">
            @{
                var canBwd = Model.CurrentPage > 0;
                var canFwd = Model.CurrentPage + 1 < Model.Pages;
            }
            <a href="/Home/Articles/@Model.SelectedCategoryId/@(Model.CurrentPage - 1)" class="btn btn-default" @(!canBwd ? "disabled=\"disabled\"" : "")>&lt;</a>
            @for (var i = 0; i < Model.Pages; i++)
            {
                <a href="/Home/Articles/@Model.SelectedCategoryId/@i" class="btn @(i==Model.CurrentPage?" btn-primary":" btn-default")" @(i == Model.CurrentPage ? "disabled=\"disabled\"" : "")>@(i + 1)</a>
            }
            <a href="/Home/Articles/@Model.SelectedCategoryId/@(Model.CurrentPage + 1)" class="btn btn-default" @(!canFwd ? "disabled=\"disabled\"" : "")>&gt;</a>

        </div>
    </div>
</div>
