@model Webshop.Models.ArticleModel

@{
    ViewBag.Title = Model.Product.ProductName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
        <h2>@Model.Product.ProductName</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var category in Model.Categories)
            {
                var isactive = category.Id == Model.SelectedCategoryId;
                <li class="@(isactive ? "active" : String.Empty)">
                    @Html.ActionLink(category.CategoryName, "Articles", new { id = category.Id })
                </li>
            }
        </ul>
    </div>
    <div class="col-md-9">
        <div class="list-group">
            @{
                var canorder = Model.Product.UnitsInStock > 0;

                using (Html.BeginForm("AddToCard", "Cart", new { id = Model.Product.Id }))
                {
                    @Html.AntiForgeryToken()
                    <div class="list-group-item">
                        <span class="badge">Units in stock: @Model.Product.UnitsInStock</span>
                        <h3>@Model.Product.ProductName</h3>
                        <p>
                            @Model.Product.QuantityPerUnit<br />
                            @Model.Product.UnitPrice.ToString("C")
                        </p>
                        <div class="input-group input-group-sm" style="text-align: right;">
                            <span>quantity: </span>
                            <input type="text" name="quantity" class="form-control" style="width: 40px;" value="@(canorder?1:0)" @(!canorder ? "disabled=\"disabled\"" : String.Empty)>
                            <span class="input-group-btn">
                                <input type="submit" class="btn btn-primary" @(!canorder ? "disabled=\"disabled\"" : String.Empty) value="Add to Cart" />
                            </span>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
